.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-image 0.3s ease;
  }
  
  .hover-effect:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, #dfe2e5, rgb(151, 149, 149));
  }

  /* styles.css */

.primary {
  padding: 0.5rem 1rem; /* Default smaller padding */
  border-radius: 1rem;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 1rem; /* Default smaller font size */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.8s ease, transform 0.8s ease, box-shadow 0.8s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary:hover {
  background-color: rgb(5, 19, 48);
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.primary:focus {
  outline: none;
}

.secondary {
  padding: 0.5rem 1rem; /* Default smaller padding */
  border-radius: 1.25rem;
  border: 1px solid transparent;
  color: white;
  background-size: 200% 100%;
  transition: border-color 1s ease, color 1s ease, background-position 1s ease;
}

@media (min-width: 640px) {
  .primary, .secondary {
    padding: 0.75rem 1.5rem; /* Adjust padding for small screens */
    font-size: 1.1rem; /* Adjust font size for small screens */
  }
}

@media (min-width: 768px) {
  .primary, .secondary {
    padding: 1rem 2rem; /* Adjust padding for medium screens */
    font-size: 1.2rem; /* Adjust font size for medium screens */
  }
}

@media (min-width: 1024px) {
  .primary, .secondary {
    padding: 1.25rem 2.5rem; /* Adjust padding for large screens */
    font-size: 1.4rem; /* Adjust font size for large screens */
  }
}


  .secondary:hover {
    border-color: #1e40af; /* New border color on hover */
    color: #1e40af; /* New text color on hover */
    background-position: -100% 0; /* Move gradient fully to the right */
  }
  
  .secondarySkills {
    padding: .5rem; /* Adjust padding as needed */
    border-radius: 1.25rem; /* Adjust border radius as needed */
    border: .75px solid transparent; /* Initial border color */
    color: white; /* Initial text color */
    background-size: 200% 100%; /* Double the width to cover from left to right */
    transition: border-color 1s ease, color 1s ease, background-position 1s ease; /* Transitions */
    cursor: default;
  }
  
  .secondarySkills:hover {
    border-color: #1e40af; /* New border color on hover */
    color: #1e40af; /* New text color on hover */
    background-position: -100% 0; /* Move gradient fully to the right */
    cursor: default;
  }
  
  .custom-circle {
    width: 5rem; /* w-16 */
    height: 5rem; /* h-16 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #000000; /* bg-gray-800 */
    color: #ffffff; /* text-white */
    border-radius: 9999px; /* rounded-full */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s ease-out, height 0.5s ease-out, background-color 0.5s ease-out, color 0.5s ease-out;
  
    /* For md screen size */
    @media (min-width: 768px) {
      width: 7rem; /* md:w-28 */
      height: 7rem; /* md:h-28 */
    }
  
    /* Box shadow for better design */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .custom-circle:hover {
    background-color: #444444; /* bg-blue-500 */
  }
  